<form (ngSubmit)="saveExpense()">
  <input type="text" name="expense" [(ngModel)]="expense.expense" placeholder="Enter expense name" />

  <input type="text" name="amount" [(ngModel)]="expense.amount" placeholder="Enter amount" />

  <textarea type="text" name="description" [(ngModel)]="expense.description" placeholder="Enter description">
   </textarea>

  <button type="submit">Add expense</button>
  <button *ngIf="expense.id" (click)="deleteExpense(expense.id)">Delete expense</button>
</form>
